# Environment variables
.env

# OS files
Thumbs.db
Desktop.ini

# IDEs
.idea/
.vscode/

# Local Node packages / logs
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python virtual environment & cache
venv/
.venv/
__pycache__/
*.pyc

# Build outputs
.next/
dist/
build/
out/
